<div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <img src="img/error-page.png" alt="404" class="img-fluid" title="Error"
                        style="filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4)); height:50rem; width:100rem;">
                    <p style="font-size: 2rem">Welcome To Technosoft </p>
                    <h1 style="font-size: 4rem">Oops! Page Not Found</h1>
                    <a href="/"> <button>Go Back</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>