<div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">                
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="img/about.png" alt="Silhouette image" class="img-fluid" title="Technosoft" style="filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4))">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p style="font-size: 2rem">Welcome To Technosoft Weather App</p>
                    <h1 style="font-size: 4rem">We Are A Team Of <span style="font-size: 4rem; color:var(--main-color)">Trusted Freelancers</span> Professional In Web Developing</h1>
                    <a href="https://technosoft-company.github.io" target="_new"> <button>More About Us</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>